<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<%= params%>

<table border="1">
  <tr>
    <th>Username</th>

    <th>Private? </th>

    <th></th>

    <th></th>
    
  </tr>

  <tr>
    <td>anisa</td>

    <td> Yes</td>

    <td></td>

    <td> <a href="/users/anisa">Show details</a> </td>

  </tr>

</table>
